html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #181b29;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Common style */

.md-4 {
  width: 33%;
}

.md-6 {
  width: 50%;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.my-05 {
  margin: 0.5rem 0;
}

.my-1 {
  margin: 1rem 0 !important;
}

.my-3 {
  margin: 3rem 0 !important;
}

.mt-5 {
  margin-top: 5.5rem !important;
}

.mxy-51 {
  margin: 0.5rem 1rem;
}

.mx-01 {
  margin: 0 0.1rem !important;
}

.mx-03 {
  margin: 0 0.3rem !important;
}

.mx-1 {
  margin: 0 1rem !important;
}

.ml-03 {
  margin-left: 0.3rem !important;
}

.mr-03 {
  margin-right: 0.3rem !important;
}

.pr-03 {
  padding-right: 0.3rem !important;
}

.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.border {
  width: 70%;
  margin: 0 auto;
  border-top: 1px solid #35373f;
}

ul {
  padding: 0rem 1.5rem;
  list-style-type: none;
  color: #6b7089;
}

a {
  text-decoration: none;
  color: #6b7089;
}

a:hover {
  color: #aaaec4;
}

ul li {
  margin: 1rem 0rem;
}

.color-white {
  color: white !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a07aec;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #864ff3;
}

/* Sidebar style */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  height: 100%;
  background-color: #222638;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  transition: ease-in-out, 0.5s;
  -webkit-transition: ease-in-out, 0.5s;
  -moz-transition: ease-in-out, 0.5s;
  -ms-transition: ease-in-out, 0.5s;
  -o-transition: ease-in-out, 0.5s;
  z-index: 1000;
}

ul li:hover,
ul li:active {
  color: #aaaec4;
  cursor: pointer;
}

.sidebar ul {
  padding: 0 0.8rem;
}

/* Navbar style */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #222638;
  padding: 0.6rem 0rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1000;
}

.navbar header {
  position: relative;
  color: #6b7089;
  font-size: 1.2rem;
  min-width: 70px;
  text-align: center;
}

.h-menu {
  display: block;
}

.v-menu {
  position: absolute;
  top: 50px;
  right: 1rem;
  display: none;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #222638;
  z-index: 900;
}

.v-menu li {
  display: block !important;
  padding: 1rem;
}
#open_menu {
  display: none;
}

.mobile-menu li ul {
  display: block;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  width: 160px;
  border-right: 1px solid #35373f;
}

.logo a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.logo a h3 {
  margin: 0 0.5rem;
}

.navbar ul li {
  display: inline;
}

.btn-group {
  padding: 0.5rem 1rem;
}

.btn {
  cursor: pointer;
  line-height: 2rem;
  color: white;
  padding: 0 2rem;
  margin: 0 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.user-avatar {
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  color: #a07aec;
}

.user-menu {
  position: absolute;
  top: 0;
  right: 3rem;
  display: block;
  width: 100px;
  height: 120px;
  background-color: #292e42;
  box-shadow: 0 2px 4px rgb(0 0 0 / 60%);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 3000;
}

.pop-comp-wrapper {
  background-color: #232639 !important;
  box-shadow: 0 0 5px #333 !important;
  border-radius: 10px !important;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
}

.pop-comp-content {
  z-index: 9999 !important;
  padding: 1rem !important;
}

.pop-comp-content ul li {
  display: block;
  margin: 0.5rem 0;
}

.pop-comp-arrow::before {
  background-color: #292e42 !important;
}

.user-avatar:hover {
  color: #b69bee;
}

.user-avatar img {
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.user-avatar i {
  margin-left: 5px;
  font-size: 20px;
}

#close_checkout {
  width: 0;
  margin: 0 0.5rem;
}

.btn-pink {
  background: #a07aec;
}

.btn-close {
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 1.5rem;
  padding: 0 0 0 0.2rem;
}

.btn-close:hover {
  color: #969494;
}

.btn-pink:hover {
  background: #8550f0;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}

.btn-dark {
  background: #2d3447;
  padding: 0 1rem;
}

.btn-dark:hover {
  background: #676c79;
}

.btn-shadow {
  box-shadow: 0 5px 5px -5px #333;
}

/* main section style */
.main {
  position: absolute;
  top: 70px;
  left: 70px;
  padding: 1.5rem;
  width: calc(100% - 440px);
}

.dashboard {
  position: relative;
  padding: 0 10rem;
}

.filter-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

.chat-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 0rem;
  width: 300px;
  height: calc(100vh - 6.5rem);
  background-color: #222638;
  margin-top: 5.8rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  z-index: 999;
  transition: ease-in-out, 0.5s;
  -webkit-transition: ease-in-out, 0.5s;
  -moz-transition: ease-in-out, 0.5s;
  -ms-transition: ease-in-out, 0.5s;
  -o-transition: ease-in-out, 0.5s;
}

.intro {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #673ab7, #f0f0f0);
  border-radius: 10px;
  padding: 0 1.5rem 1rem 1.5rem;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-size: 1rem;
  color: white;
  padding: 1rem;
}

.avatar-box {
  display: inline-flex;
  flex-direction: row-reverse;
  width: 50%;
  align-items: center;
}

.avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.avatar-outline {
  border-radius: 50%;
  outline: 2px solid #a07aec;
  border: 2px solid #222638;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.avatar:not(:last-child) {
  margin-left: -80px;
}

.avatar img {
  width: 100%;
  display: block;
}

.dark {
  background: #2d3447;
  padding: 0.35rem;
  border-radius: 10px;
  color: white;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 15px;
  background: #232639;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #9b7bee;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label:active:after {
  width: 11px;
}

header:hover {
  cursor: pointer;
  color: #aaaec4;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #262e42;
  margin: 1.5rem 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.avatar-list {
  display: flex;
  padding-right: 1rem;
  border-right: 1px solid white;
}

.item-list {
  display: flex;
  color: white;
  font-size: 0.9rem;
}

.item-list .dark-panel:hover {
  cursor: pointer;
  background-color: #30323b;
}

.dark-panel {
  display: flex;
  align-items: center;
  background-color: #222638;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 10px;
  color: #262d41;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.dark-panel span {
  color: white;
  font-size: 0.8rem;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292e42;
  padding: 0.8rem;
  height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-list {
  height: calc(100% - 100px);
  padding: 1rem 0.5rem;
  overflow-y: auto;
}

.message {
  display: flex;

  padding: 0.2rem 0;
}

.chat-logo {
  font-size: 1.2rem;
}

.chat-board {
  background-color: #222244;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-content {
  padding: 0 1rem;
  width: 100%;
  color: #696e87;
  font-size: 0.8rem;
}

.content {
  padding: 1rem;
  background-color: #292e42;
  color: white;
  margin-top: 0.3rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.send-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.edit-text {
  background-color: #222638;
  height: 16px;
  overflow-y: hidden;
  border-radius: 20px;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  outline: none;
  resize: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.gif-text {
  color: white;
  font-size: 0.7rem;
}

.gif-text:hover {
  font-weight: bold;
  cursor: pointer;
}

.btn-send {
  padding: 0 0.5rem;
  background-color: #222638;
  border: none;
  color: #444444;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-send:hover {
  color: #949292;
}

.lang-pan {
  background-color: #262e42;
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.night-mode {
  background-color: #334466;
  padding: 0.3rem;
  margin: 0.3rem 0.3rem;
  outline: 5px solid #181b29;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modal {
  width: 500px;
  max-width: 85%;
  background: #292e42;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal-header {
  position: relative;
  text-align: center;
}

.modal-header img {
  width: 85px;
}

.modal-body {
  padding-top: 1.5rem;
}

.modal-close {
  position: absolute;
  right: 0.5rem;
  font-size: 1.5rem;
  color: white;
}

.toggle-modal {
  visibility: visible;
  opacity: 1;
}

.anychart-credits {
  display: none !important;
}

.chat-item .dark-panel {
  margin: 0.5rem 0;
  color: white;
  font-size: 0.8rem;
}

.chart-panel {
  width: 400px;
  height: 160px;
  margin-top: 15px;
}

.title {
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.withdraw-panel {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 260px);
}

.card-panel {
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: inline-block;
  background-color: #292e42;
  width: 100px;
  height: 150px;
  font-size: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.card .dark-panel {
  margin: 1rem 0;
}

.card img {
  width: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.checkout {
  /* display: none; */
  position: fixed;
  right: calc(300px + 10rem);
  background-color: #292e42;
  min-width: 230px;
  height: 70vh;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: auto;
}

.checkout .btn-close {
  position: absolute;
  right: 0.5rem;
  font-size: 1rem;
}

.items {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #232639;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 0.2rem 0.3rem;
  margin: 0.3rem 0;
}

.items img {
  width: 35px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.items div p {
  font-size: 0.6rem;
  margin: 0.2rem 1.5rem;
}

.checkout-footer {
  position: absolute;
  left: 0;
  bottom: 1rem;
  width: 100%;
}

.checkout-footer .btn {
  margin: 0;
  width: 95%;
}

.item-modal {
  background-color: transparent;
  width: 700px;
  box-shadow: none;
  padding: 0;
}

.item-modal-close {
  position: absolute;
  padding: 0.8rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.panel {
  padding: 1rem;
  background-color: #181b29;
  box-shadow: 0 0 5px #333;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.modal-container .item-modal .d-flex img,
.modal-container .game-create-modal .d-flex img {
  width: 45px;
}

.join-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.avatar-award {
  position: relative;
  text-align: center;
  color: white;
}

.nft-avatar {
  width: 40px !important;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.avatar-award img {
  width: 70px;
}

.award {
  position: absolute;
  top: -5px;
  left: -10px;
}

.award img {
  width: 35px;
}

.game-create-modal {
  background-color: transparent;
  width: 450px;
  min-height: 600px;
  box-shadow: none;
  padding: 0;
}

.game-card-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 550px;
  overflow-y: auto;
  margin: 1rem 0;
}

.game-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75px;
  height: 110px;
  background-color: #292e42;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.game-card img {
  width: 75px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.game-card .dark-panel {
  padding: 0.3rem;
  margin: 0;
}

.search-group {
  display: flex;
  align-items: center;
  background-color: #292e42;
  border-radius: 30px;
  padding: 0rem 1rem;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  color: white;
  margin: 0.5rem 0;
}

.search-form {
  border: none;
  background-color: transparent;
  line-height: 2.2rem;
  font-size: 0.8rem;
  color: white;
  width: 100%;
}

.search-form:active,
.search-form:focus {
  border: none;
  outline: none;
}

.select-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292e42;
  padding: 0 0.5rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  color: #696e87;
  font-size: 0.8rem;
}

.select-box {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 40px;
}

.select-box .options-container {
  max-height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
  background-color: #292e42;
  order: 1;
  position: absolute;
  top: 46px;
}

.selected {
  position: relative;
  width: 100%;
  border: none;
  background-color: transparent;
  order: 0;
}

.selected::after {
  /* Font Awesome	 */
  content: "\f078";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  /* BG Img	 */
  content: url("/assets/img/arrow-down.png");
  position: absolute;
  right: 0px;
  top: 50%;
  transition: transform 0.5s;
  transform: translateY(-50%);
}

.selected h3,
.select-box label h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.57;
  color: #1f2949;
}
.selected h5,
.select-box label h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #81878f;
  margin: 0.8rem 1rem;
}

.select-box .options-container.active {
  max-height: 240px;
  opacity: 1;
  overflow-y: scroll;
}

.select-box .options-container.active + .selected::after {
  transform: translateY(-50%) rotateX(180deg);
}

.select-box .options-container::-webkit-scrollbar {
  width: 5px;
  background: #0d141f;
  background: #81878f;
  background: #767778;
  border-radius: 0 5px 5px 0;
}

.select-box .options-container::-webkit-scrollbar-thumb {
  background: #525861;
  background: #81878f;
  border-radius: 0 5px 5px 0;
}
.select-box .option,
.selected {
  /* padding: 12px 24px; */
  cursor: pointer;
}

.select-box .option:hover {
  color: #dcdfe5;
}

.select-box label {
  cursor: pointer;
}

.select-box .option .radio {
  display: none;
}

#items_checkout {
  height: calc(100% - 117px);
  overflow-y: auto;
}

/* Responsive style */
@media (max-width: 1512px) {
  .dashboard {
    padding: 0;
  }

  .checkout {
    right: calc(300px + 1.5rem);
  }
}

@media (max-width: 1366px) {
  .chat-box {
    right: -26rem;
    transition: ease-in-out, 0.5s;
    -webkit-transition: ease-in-out, 0.5s;
    -moz-transition: ease-in-out, 0.5s;
    -ms-transition: ease-in-out, 0.5s;
    -o-transition: ease-in-out, 0.5s;
  }

  .main {
    width: calc(100% - 118px);
  }

  .checkout {
    right: 1.5rem;
  }
}

@media (max-width: 1024px) {
  .text h1 {
    font-size: 1.3rem !important;
  }

  .text label {
    font-size: 0.8rem !important;
  }

  #open_menu {
    display: block;
  }

  .h-menu {
    display: none;
  }

  .filter-group {
    display: flex;
    flex-wrap: wrap;
  }

  .sm-4 {
    width: 34%;
  }

  .sm-6 {
    width: 50%;
  }

  .sm-8 {
    width: 66%;
  }

  .text-right {
    text-align: right;
  }

  .sm-12 {
    width: 100%;
    margin-bottom: 1rem;
  }

  .btn {
    padding: 0 0.5rem;
  }

  .filter-group {
    font-size: 0.7rem;
  }
}

@media (max-width: 840px) {
  .list {
    flex-wrap: wrap;
  }

  .tsm-12 {
    width: 100%;
    margin: 0.5rem 0;
  }
}

@media (max-width: 680px) {
  .sidebar {
    display: none;
  }

  .main {
    width: calc(100% - 48px);
    left: 0;
  }

  .msm-6 {
    width: 50% !important;
    margin: 0.5rem 0;
  }
}

@media (max-width: 460px) {
  .logo {
    width: 140px;
  }

  .logo img {
    width: 20px;
  }

  .logo h3 {
    font-size: 0.8rem;
  }

  .btn-group {
    padding: 0.3rem 0.2rem;
  }

  .navbar header {
    max-width: 50px;
  }

  .line-height-2 {
    line-height: 2rem;
  }

  .intro {
    padding: 0 1rem 0 0;
  }

  .mt-4 {
    margin-top: 2rem !important;
  }

  .chat-box {
    width: 100%;
    right: -30rem;
  }

  .main {
    width: calc(100% - 48px);
  }

  .send-box .btn {
    line-height: 2rem;
  }

  .navbar header {
    min-width: 35px;
  }

  .sidebar {
    width: 35px;
    font-size: 0.8rem;
  }

  ul {
    padding: 0 0.3rem;
  }

  .sidebar ul {
    padding: 0.3rem;
  }

  .lang-pan {
    font-size: 0.5rem;
    padding: 0.5rem 0;
  }

  .night-mode {
    padding: 0.1rem;
    margin: 0.2rem 0.2rem;
  }

  .checkout {
    min-width: 160px;
  }

  .vsm-12 {
    width: 100% !important;
    margin: 0.5rem 0;
  }

  .game-card-panel {
    height: 400px;
  }

  .footer {
    height: 100px;
    overflow-y: auto;
  }

  .search-wrap {
    flex-wrap: wrap;
  }
}

@media (max-width: 393px) {
  .logo {
    width: 90px;
  }

  .logo img {
    width: 20px;
  }

  .logo h3 {
    font-size: 0.8rem;
  }

  .avatar-list {
    padding-right: 0.3rem !important;
  }

  .mx-03 {
    margin: 0 0.1rem !important;
  }

  .btn-group {
    padding: 0.3rem 0;
  }

  .navbar header {
    max-width: 50px;
  }

  .line-height-2 {
    line-height: 2rem;
  }

  .intro {
    padding: 0 1rem 0 0;
  }

  .mt-4 {
    margin-top: 2rem !important;
  }

  .chat-box {
    width: 100%;
    right: -30rem;
  }

  .main {
    width: calc(100% - 48px);
  }

  .send-box .btn {
    line-height: 2rem;
  }

  .navbar header {
    min-width: 35px;
  }

  .sidebar {
    width: 35px;
    font-size: 0.8rem;
  }

  ul {
    padding: 0 0.3rem;
  }

  .sidebar ul {
    padding: 0.3rem;
  }

  .lang-pan {
    font-size: 0.5rem;
    padding: 0.5rem 0;
  }

  .night-mode {
    padding: 0.1rem;
    margin: 0.2rem 0.2rem;
  }

  .checkout {
    min-width: 160px;
    right: 0.8rem;
  }

  .vsm-12 {
    width: 100% !important;
    margin: 0.5rem 0;
  }

  .card {
    width: 80px;
    height: 130px;
  }

  .card img {
    width: 80px;
  }

  .nft-avatar {
    width: 30px !important;
  }

  .avatar-award img {
    width: 50px;
  }

  .award {
    left: 0;
  }

  .award img {
    width: 30px;
  }

  .join-part {
    margin: 0.5rem 0;
  }

  .modal-body {
    padding-top: 0.3rem;
  }

  .modal-container .item-modal .d-flex img,
  .modal-container .game-card .d-flex img {
    width: 30px;
  }

  .game-card-panel {
    height: 300px;
  }
}

@media (max-width: 300px) {
  .main {
    width: calc(100% - 13px);
  }

  .logo a h3 {
    display: none;
  }

  .logo {
    width: 50px;
  }

  .ssm-12 {
    width: 100%;
    margin: 0.3rem 0;
  }

  .avatar-list {
    border: none;
    width: 100%;
    margin: 0.3rem 0;
  }

  .avatar-list .dark-panel {
    justify-content: space-between;
    width: 100%;
  }

  .list {
    padding: 0.5rem;
  }

  .avatar:not(:last-child) {
    margin-left: -40px;
  }

  .avatar-box {
    width: 40%;
  }

  .text label {
    font-size: 0.6rem !important;
  }

  .text h1 {
    font-size: 1rem !important;
  }
}

@media (max-height: 900px) {
  .checkout {
    height: 65vh;
  }
}

@media (max-height: 768px) {
  .checkout {
    height: 60vh;
  }

  .game-card-panel {
    height: 300px;
  }
}

@media (max-height: 680px) {
  .checkout {
    height: 55vh;
  }
}
