html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #181b29;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Common style */
.mt-1 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.my-1 {
  margin: 1rem 0 !important;
}

.my-3 {
  margin: 3rem 0 !important;
}

.mt-5 {
  margin-top: 5.5rem !important;
}

.mx-01 {
  margin: 0 0.1rem !important;
}

.mx-03 {
  margin: 0 0.3rem !important;
}

.ml-03 {
  margin-left: 0.3rem !important;
}

.mr-03 {
  margin-right: 0.3rem !important;
}

.pr-03 {
  padding-right: 0.3rem !important;
}

.d-flex {
  display: flex;
}

.d-flex-col {
  display: flex;
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.justify-content-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.border {
  width: 70%;
  margin: 0 auto;
  border-top: 1px solid #35373f;
}

ul {
  padding: 0rem 1.5rem;
  list-style-type: none;
  color: #6b7089;
}

ul li {
  margin: 1rem 0rem;
}

.color-white {
  color: white !important;
}

/* Sidebar style */
.sidebar {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70px;
  height: 100%;
  background-color: #222638;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
}

ul li:hover,
ul li:active {
  color: #aaaec4;
  cursor: pointer;
}

/* Navbar style */
.navbar {
  position: fixed;
  width: 100%;
  background-color: #222638;
  padding: 0.6rem 0rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1000;
}

.navbar header {
  position: relative;
  color: #6b7089;
  font-size: 1.2rem;
  width: 70px;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
  color: white;
  width: 160px;
  border-right: 1px solid #35373f;
}

.logo h3 {
  margin: 0 0.5rem;
}

.navbar ul li {
  display: inline;
}

.btn-group {
  padding: 0.5rem 1rem;
}

.btn {
  cursor: pointer;
  line-height: 2rem;
  color: white;
  padding: 0 2rem;
  margin: 0 0.5rem;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.btn-pink {
  background: #a07aec;
}

.btn-close {
  background-color: transparent;
  border: none;
  color: #444444;
  font-size: 1.5rem;
  padding: 0 0 0 0.2rem;
}

.btn-close:hover {
  color: #969494;
}

.btn-pink:hover {
  background: #8550f0;
  transition: ease-in-out 0.3s;
  -webkit-transition: ease-in-out 0.3s;
  -moz-transition: ease-in-out 0.3s;
  -ms-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
}

.btn-dark {
  background: #2d3447;
  padding: 0 1rem;
}

.btn-dark:hover {
  background: #676c79;
}

.btn-shadow {
  box-shadow: 0 5px 5px -5px #333;
}

/* main section style */
.main {
  position: absolute;
  top: 70px;
  left: 70px;
  padding: 1.5rem;
  width: calc(100% - 440px);
}

.dashboard {
  position: relative;
  padding: 0 10rem;
}

.chat-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 1rem;
  width: 300px;
  height: calc(100vh - 6.5rem);
  background-color: #222638;
  border-radius: 10px;
  margin-top: 6rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.intro {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, #673ab7, #f0f0f0);
  border-radius: 10px;
  padding: 0 1.5rem 1rem 1.5rem;
  margin: 0 auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  font-size: 1rem;
  color: white;
  padding: 1rem;
}

.avatar-box {
  display: inline-flex;
  flex-direction: row-reverse;
  width: 50%;
  align-items: center;
}

.avatar {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  width: 180px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.avatar-outline {
  border-radius: 50%;
  outline: 2px solid #a07aec;
  border: 2px solid #222638;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.avatar:not(:last-child) {
  margin-left: -80px;
}

.avatar img {
  width: 100%;
  display: block;
}

.dark {
  background: #2d3447;
  padding: 0.35rem;
  border-radius: 10px;
  color: white;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle label {
  cursor: pointer;
  text-indent: -9999px;
  width: 30px;
  height: 15px;
  background: #232639;
  display: block;
  border-radius: 100px;
  position: relative;
}

.toggle label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;
  width: 11px;
  height: 11px;
  background: #9b7bee;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

label:active:after {
  width: 11px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #262e42;
  margin: 1.5rem 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.avatar-list {
  display: flex;
  padding-right: 1rem;
  border-right: 1px solid white;
}

.item-list {
  display: flex;
  color: white;
  font-size: 0.9rem;
}

.dark-panel {
  display: flex;
  align-items: center;
  background-color: #222638;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 10px;
  color: #262d41;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.chat-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292e42;
  padding: 0.8rem;
  height: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chat-list {
  height: calc(100% - 100px);
  padding: 1rem 0.5rem;
  overflow-y: auto;
}

.message {
  display: flex;

  padding: 0.2rem 0;
}

.chat-logo {
  font-size: 1.2rem;
}

.chat-board {
  background-color: #222244;
  padding: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-content {
  padding: 0 1rem;
  width: 100%;
  color: #696e87;
  font-size: 0.8rem;
}

.content {
  padding: 1rem;
  background-color: #292e42;
  color: white;
  margin-top: 0.3rem;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.send-box {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.edit-text {
  background-color: #222638;
  height: 16px;
  overflow-y: hidden;
  border-radius: 20px;
  border: none;
  padding: 0.5rem 1rem;
  color: white;
  border: none;
  outline: none;
  resize: none;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.gif-text {
  color: white;
  font-size: 0.7rem;
}

.gif-text:hover {
  font-weight: bold;
  cursor: pointer;
}

.btn-send {
  padding: 0 0.5rem;
  background-color: #222638;
  border: none;
  color: #444444;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.btn-send:hover {
  color: #949292;
}

.lang-pan {
  background-color: #262e42;
  color: white;
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Responsive style */
@media (max-width: 1496px) {
  .dashboard {
    padding: 0;
  }
}

@media (max-width: 1260px) {
  .chat-box {
    right: -20rem;
    transition: ease-in-out, 0.5s;
    -webkit-transition: ease-in-out, 0.5s;
    -moz-transition: ease-in-out, 0.5s;
    -ms-transition: ease-in-out, 0.5s;
    -o-transition: ease-in-out, 0.5s;
  }

  .main {
    width: calc(100% - 118px);
  }
}
